body {
    background-color: rgb(24, 24, 24);
    font-family: Geologica;
    touch-action: none;
    background-attachment: fixed;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    height: 100vh;
}

.jobs {
    color: white;
    margin-left: 15px;
}

.categories {
    font-family: Geologica;
    font-size: 16px;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
    gap: 10px;
    margin-left: 15px;
}

.ankets {
    background-color: rgb(27, 27, 27);
    width: 92%;
    max-width: 500px;
    max-height: 200px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 2px;
    border: 0.5px solid rgb(40, 40, 40);
    cursor: pointer;
    margin-left: 3.5vw;
    display: inline-block;
}

.ankets:active {
  border: 0.3px solid #97f492;
  transform: translateY(-5px);
  background-color: rgb(17, 17, 17);
}

.ankets:hover {
  border: 0.5px solid #97f492;
  transform: translateY(-5px);
  background-color: rgb(17, 17, 17);
}

.anket {
    display: flex;
}

.icon {
    width: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.nick {
    color: white;
    margin-left: 68px;
    margin-top: -45px;
    font-size: 18px;
}

.infd {
    color: rgb(166, 166, 166);
    margin-left: 70px;
    margin-top: -17px;
    font-size: 14px;
}

.info {
    color: white;
    margin-left: 14px;
    font-size: 16px;
}

.tags {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    flex-wrap: wrap;
    font-family: Geologica;
    color: white;
    margin-left: 12px;
    margin-top: 15px;
}

.tags li {
    background-color: #222222;
    padding: 5px 10px; 
    margin-right: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.infomodl {
    color: white;
    margin-left: 14px;
    font-size: 16px;
}

.add {
    background-color: #97f492;
    border: none;
    font-family: Geologica;
    width: 120px;
    height: 30px;
    float: right;
    margin-top: -55px;
    margin-right: 20px;
    border-radius: 10px;
}

.all {
    background-color: #97f492;
    border: none;
    font-family: Geologica;
    font-size: 16px;
    width: 85px;
    height: 30px;
    border-radius: 10px;
}

.gifts {
    background-color: #222222;
}

.modal {
    background-color: #1a1a1a;
    width: 100%;
    height: 80%;
    position: fixed;
    bottom: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
}

.close {
    display: flex;
    float: right;
}
.close div {
    cursor: pointer;
    position: relative;  
    height: 68px;
    width: 50px;
    margin-left: 8px;
    margin-top: -8px;
}

.close .leftright {
    height: 4px;
    width: 25px;
    position: absolute;
    margin-top: 24px;
    background-color: #ffffff;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.close .rightleft {
    height: 4px;
    width: 25px;
    position: absolute;
    margin-top: 24px;
    background-color: #ffffff;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

.close .close-btn {
    margin: 54px 0 0 -5px;
    position: absolute;
    color: #97f492;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s ease-in;
    opacity: 0; 
}

.close div:hover .leftright {
    transform: rotate(-45deg);
    background-color: #97f492;
}

.close div:hover .rightleft {
    transform: rotate(45deg);
    background-color: #97f492;
}

.close div:hover .close-btn {
    opacity: 1;
}

.contact {
    background-color: #97f492;
    font-size: 16px;
    width: 95%;
    height: 40px;
    border: none;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    left: 3%;
}

.modal-enter-active, .modal-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-enter-from, .modal-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

#preloader {
  position: fixed; /* Фиксированное позиционирование, чтобы он был поверх всего */
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background-color: rgb(24, 24, 24); /* Цвет фона прелоадера */
  z-index: 9999; /* Очень высокий z-index, чтобы быть поверх всего */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Плавный переход для скрытия */
  opacity: 1; /* Изначально видим */
}

/* --- Стиль для скрытия прелоадера --- */
#preloader.hidden {
  opacity: 0; /* Делаем невидимым */
  pointer-events: none; 
  transform: translateY(-100%);
}

#preloader.hidden {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%); 
    pointer-events: none;
  }
}

.loader,
.loader:after {
  overflow:hidden;
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(101,171,248, 0.2);
  border-right: 1.1em solid rgba(101,171,248, 0.2);
  border-bottom: 1.1em solid rgba(101,171,248, 0.2);
  border-left: 1.1em solid #97f492;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 600px) and (max-width: 20000px) {
.jobs {
    display: none;
}

.all {
    display: none;
}

.ankets {
    display: none;
}
.none {
    display: none;
}
.backdrop {
    display: none;
}
}
