body {
    background-color: rgb(24, 24, 24);
    font-family: Geologica;
    touch-action: none;
    background-attachment: fixed;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
}

.jobs {
    color: white;
    margin-left: 15px;
}

.categories {
    font-family: Geologica;
    font-size: 16px;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
    gap: 10px;
    margin-left: 15px;
}

.ankets {
    background-color: rgb(27, 27, 27);
    width: 92%;
    max-width: 500px;
    max-height: 200px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 2px;
    border: 0.5px solid rgb(40, 40, 40);
    cursor: pointer;
    margin-left: 3.5vw;
    display: inline-block;
}

.ankets:active {
  border: 0.3px solid #97f492;
  transform: translateY(-5px);
  background-color: rgb(17, 17, 17);
}

.ankets:hover {
  border: 0.5px solid #97f492;
  transform: translateY(-5px);
  background-color: rgb(17, 17, 17);
}

.anket {
    display: flex;
}

.icon {
    width: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.nick {
    color: white;
    margin-left: 68px;
    margin-top: -45px;
    font-size: 18px;
}

.infd {
    color: rgb(166, 166, 166);
    margin-left: 70px;
    margin-top: -17px;
    font-size: 14px;
}

.info {
    color: white;
    margin-left: 14px;
    font-size: 16px;
}

.tags {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    flex-wrap: wrap;
    font-family: Geologica;
    color: white;
    margin-left: 12px;
    margin-top: 15px;
}

.tags li {
    background-color: #222222;
    padding: 5px 10px; 
    margin-right: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.infomodl {
    color: white;
    margin-left: 14px;
    font-size: 16px;
}

.add {
    background-color: #97f492;
    border: none;
    font-family: Geologica;
    width: 80px;
    height: 30px;
    float: right;
    margin-top: -50px;
    margin-right: 20px;
    border-radius: 10px;
}

.all {
    background-color: #97f492;
    border: none;
    font-family: Geologica;
    font-size: 16px;
    width: 85px;
    height: 30px;
    border-radius: 10px;
}

.gifts {
    background-color: #222222;
}

.modal {
    background-color: #1a1a1a;
    width: 100%;
    height: 80%;
    position: fixed;
    bottom: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
}

.close {
    background-color: #141414;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    position: absolute;
    margin-left: 90%;
    margin-top: 10px;
}

.contact {
    background-color: #97f492;
    font-size: 16px;
    width: 95%;
    height: 40px;
    border: none;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    left: 3%;
}

.modal-enter-active, .modal-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-enter-from, .modal-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

@media screen and (min-width: 600px) and (max-width: 20000px) {
.jobs {
    display: none;
}

.all {
    display: none;
}

.ankets {
    display: none;
}
.none {
    display: none;
}
.backdrop {
    display: none;
}
}

